# Implementation of Apriori Algorithm using Apyori

### Name: Tejas Yogesh Pawar
### PRN: 20190802021
**======================================================================**

In [1]:
pip install apyori

Requirement already satisfied: apyori in c:\users\tejas\anaconda3\lib\site-packages (1.1.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [3]:
data = pd.read_csv("colors.csv")
data

       id                          name     rgb is_trans
0      -1                       Unknown  0033B2        f
1       0                         Black  05131D        f
2       1                          Blue  0055BF        f
3       2                         Green  237841        f
4       3                Dark Turquoise  008F9B        f
..    ...                           ...     ...      ...
130  1004  Trans Flame Yellowish Orange  FCB76D        t
131  1005             Trans Fire Yellow  FBE890        t
132  1006        Trans Light Royal Blue  B4D4F7        t
133  1007                 Reddish Lilac  8E5597        f
134  9999                    [No Color]  05131D        f

[135 rows x 4 columns]

In [4]:
data.shape

(135, 4)

# Converting the data frame into lists:

In [5]:
observations = []
for i in range(len(data)):
  observations.append([str(data.values[i,j]) for j in range(4)])

# Finding Association Rules:

In [6]:
from apyori import apriori
associations = apriori(observations, min_length = 2, min_support = 0.02, min_confidence = 0.7, min_lift = 1.2)

In [7]:
associations = list(associations)
associations

[RelationRecord(items=frozenset({'f', '000000'}), support=0.022222222222222223, ordered_statistics=[OrderedStatistic(items_base=frozenset({'000000'}), items_add=frozenset({'f'}), confidence=1.0, lift=1.2616822429906542)])]